@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .auth-container {
    @apply grid grid-cols-1 lg:grid-cols-2 min-h-screen w-full;
  }
  .auth-img {
    @apply bg-slate-400 bg-center  bg-[url('./assets/login.svg')] bg-no-repeat bg-contain  hidden lg:block;
  }
  .text {
    @apply text-sky-300;
  }
}
body {
  background-color: black;
  min-height: 100vh;
  height: 100%;
  color: #6d2190ab;
}
